<a href="https://colab.research.google.com/github/hakimkumorow/Pemerograman-Dasar/blob/main/QIUZ_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
print("--- Soal 1 ---")
# Mencetak bilangan genap dari 1 hingga 50
for angka in range(2, 51, 4):
    print(angka)

--- Soal 1 ---
2
6
10
14
18
22
26
30
34
38
42
46
50

In [36]:
print("--- Soal 2 ---")
kode_berhenti = 4232401050
input_pengguna = 0 # Inisialisasi awal

while input_pengguna != kode_berhenti:
    try:
        input_pengguna = int(input("Masukkan NIM Anda: "))
    except ValueError:
        print("Input tidak valid. Harap Masukkan NIM dengan benar!.")

print("NIM anda berhasil dimasukkan!.")

--- Soal 2 ---
Masukkan NIM Anda: 4232401032
Masukkan NIM Anda: 4232401040
Masukkan NIM Anda:
Input tidak valid. Harap Masukkan NIM dengan benar!.
Masukkan NIM Anda: 42324010550
Masukkan NIM Anda: 4232401050
NIM anda berhasil dimasukkan!.

In [43]:
print("--- Soal 3 ---")
# Daftar harga minimal 10 item
harga_barang = [15000, 25000, 700000, 50000, 20000, 12000, 18000, 30000, 80000, 22000]

total_belanja = 0

for harga in harga_barang:
    total_belanja += harga

print("Total biaya belanja adalah:", total_belanja)

--- Soal 3 ---
Total biaya belanja adalah: 972000

In [46]:
print("--- Soal 4 ---")
percobaan_maksimal = 5
percobaan_saat_ini = 1

while percobaan_saat_ini <= percobaan_maksimal:
    print(f"Percobaan ke-{percobaan_saat_ini}...")
    # Asumsi ada logika input password di sini
    percobaan_saat_ini += 1

if percobaan_saat_ini == percobaan_maksimal + 1:
    print("Kesempatan kamu sudah habis.")
else:
    print("Akses telah diterima oleh sistem.")

--- Soal 4 ---
Percobaan ke-1...
Percobaan ke-2...
Percobaan ke-3...
Percobaan ke-4...
Percobaan ke-5...
Kesempatan kamu sudah habis.

In [47]:
print("--- Soal 5 ---")
nama_proyek = "Politeknik Negeri Batam"
hasil_output = ""

for karakter in nama_proyek:
    hasil_output += karakter + "-"

print(hasil_output)

--- Soal 5 ---
P-o-l-i-t-e-k-n-i-k- -N-e-g-e-r-i- -B-a-t-a-m-

In [52]:
print("--- Soal 6 ---")
# Countdown dari 255 ke 1
for i in range(255, 0, -10):
    print(i)

--- Soal 6 ---
255
245
235
225
215
205
195
185
175
165
155
145
135
125
115
105
95
85
75
65
55
45
35
25
15
5

In [55]:
print("--- Soal 7 ---")
# Daftar nama kelurahan di Kota Batam (contoh)
kelurahan = ["Taman Baloi", "Batu Ampar", "Baloi Permai", "Teluk Tering", "Sungai Panas", "Belian", "Kabil", "Bengkong"]

for i, nama in enumerate(kelurahan):
    # i adalah indeks, nama adalah elemen
    print(f"Kelurahan ke-{i + 1}: {nama}")

--- Soal 7 ---
Kelurahan ke-1: Taman Baloi
Kelurahan ke-2: Batu Ampar
Kelurahan ke-3: Baloi Permai
Kelurahan ke-4: Teluk Tering
Kelurahan ke-5: Sungai Panas
Kelurahan ke-6: Belian
Kelurahan ke-7: Kabil
Kelurahan ke-8: Bengkong

In [59]:
print("--- Soal 8 ---")
data_angka = [10, 20, 30, 40, 50, 60, 0, 80, 90, 100]

for angka in data_angka:
    if angka == 0:
        break
    print(angka)

print("Program berhenti karena angka 0 ditemukan.")

--- Soal 8 ---
10
20
30
40
50
60
Program berhenti karena angka 0 ditemukan.

In [60]:
print("--- Soal 9 ---")
total = 0
bilangan = 1
batas = 20

while total <= batas:
    total += bilangan
    bilangan += 1

print("Total terakhir:", total)

--- Soal 9 ---
Total terakhir: 21

In [62]:
print("--- Soal 10 ---")
jumlah_baris = 3

for baris in range(jumlah_baris):
    baris_teks = ""
    for kolom in range(1):
        baris_teks += "Python "
    print(baris_teks)

--- Soal 10 ---
Python
Python
Python